h1, h2, h3, h4, h5, p, span {
  margin: 0;
}

/* margin */
.mtS {
  margin-top: .375rem;
}

.mtL {
  margin-top: .75rem;
}

.mbS {
  margin-bottom: .375rem;
}

.mbL {
  margin-bottom: 1rem;
}

/* font */
.fontL {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.fontS {
  font-size: .875rem;
  line-height: 1.125rem;
  align-items: center;
}

.fontGrey {
  color: rgb(87 91 92);
}

.fontRed {
  color: red;
}

/* postContent */

.postContent {
  width: calc(100% - 50px - .5rem);
  margin-left: calc(50px + .5rem);
}

.postContent:hover {
  cursor: pointer;
}

.postContent img {
  width: 100%;
  height: auto;
}

.postContent p {
  /* 8줄만 출력되게 */
  -webkit-line-clamp: 8;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* postOrCommentItem */

.postContainer {
  width: 40rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.postContainer::before {
  content: '';
  position: absolute;
  top: calc(50px + .5rem);
  left: 25px;
  width: 2px;
  height: calc(100% - 50px);
  background: #EEEEEE;
}

.commentContainer {
  width: 40rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
}

/* postProfile */

.profileContainer {
  display: flex;
  gap: .5rem;
  position: relative;
}

.profileImgContainer {
  position: relative;
}

.profileImgContainer img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

/* postAction */

.actionContainer {
  display: flex;
  justify-content: space-between;
}

.likes {
  font-size: 13px;
  color: #999;
}

.likes button {
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #999;
}

.actionBtns {
  display: flex;
  gap: .1rem;
}

.actionBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #555;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.actionBtn:hover {
  color: #000;
}

.actionBtn:focus {
  outline: none;
}