h1, h2, h3, h4, h5, p, span, button {
  margin: 0;
}

/* margin */
.mtS {
  margin-top: .375rem;
}

.mtL {
  margin-top: .75rem;
}

.mbS {
  margin-bottom: .375rem;
}

.mbL {
  margin-bottom: .75rem;
}

/* font */
.fontL {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.fontS {
  font-size: .875rem;
  line-height: 1.125rem;
  align-items: center;
}

.fontGrey {
  color: rgb(87 91 92);
  text-decoration: none;
}

.fontRed {
  color: red;
}

/* groundProfile */

.container {
  width: 100%;
  margin: auto;
}

.profilecontainer {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.profileImg {
  position: relative;
  width: 104px;
  height: 104px;
}

.profileImg img {
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

.profilecontainer p {
  /* 3줄만 출력되게하는 코드 */
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.tag {
  font-size: 10px;
  border: 1px solid rgb(87 91 92);;
  padding: 3px;
  border-radius: .5rem;
  margin-left: .5rem;
}

.orangeBtn {
  background: rgb(255 107 0);
  border-radius: .5rem;
  padding: .5rem;
  border: none;
  color: white;
  font-weight: 700;
}

/* groundPost */

.line {
  background: #EEEEEE;
  width: 100%;
  height: .1rem;
  margin: 1rem auto;
}

/* groundList */

.listContainer {
  width: 40rem;
  margin: auto;
}

.listItem {
  padding: 1rem;
  display: flex;
  gap: .75rem;
  align-items: center;
  --tw-border-opacity: 1;
  border: 1px solid rgb(228 229 229 / var(--tw-border-opacity));;
  border-radius: .5rem;
}

.listProfile {
  position: relative;
  width: 72px;
  height: 72px;
}

.listProfile img {
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

.listDetail {
  display: flex;
  flex-direction: column;
  gap:.25rem;
}

.listDetail p {
  /* 2줄만 출력되게하는 코드 */
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.listDetail span {
  font-size: 13px;
  color: #999;
}

/* groundDetail */

.deatilContainer {
  width: 40rem;
  margin: auto;
}

.parentContainer {
  margin-left: .625rem;
}

.parentPost {
  width: 100%;
  height: 1.125rem;
  display: flex;
  gap: .625rem;
}

.parentPost span {
  color: rgb(119 121 123);
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.125rem;
}

.parentPost p {
  color: rgb(119 121 123);
  font-size: .875rem;
  line-height: 1.125rem;
  /* 1줄만 출력되게 */
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.parentImg {
  position: relative;
}

.parentImg img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.verticalLine {
  width: .125rem;
  height: 38px;
  margin: .5rem 9px;
  background: rgb(228 229 229);
}

.typeField {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.typeField div {
  display: inline-block;
}

.tyleFieldImg {
  position: relative;
  margin-right: 1rem;
}

.tyleFieldImg img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.typeField button {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  border: lightgray 1px solid;
  color: #dbdbdb;
  background-color: white;
  padding-left: 15px;
  text-align: left;
}

