.main {
    display: flex;
    flex-direction: column;
    
}

.parent {
    /* background: pink; */
    height: 100%;
    min-height: 100vh;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.parent > div {
    height: 100vh;
    border-right: 1px solid #EEE;
    padding: 20px;
}

.child1 {
    flex: 1;
}

.child2 {
    flex: 2;
    height: 100%;
    margin: 0 auto;
    
}

.child3 {
    flex: 1;
    height: 100%;
    /* border: 3px solid hotpink; */
}