.main {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.parent {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.parent > div {
    /* height: 100vh; */
    border-right: 1px solid #EEE;
    padding: 0 20px;
}

.child1 {
    flex: 1;
}

.child2 {
    flex: 1;
}

.child3 {
    flex: 1;
}